:root{
	--primary-color: #1e1e1e;
	--secondary-color: white;
	--accent-color: darkgrey;	
	--font-family: "monotalic", sans-serif;
}

body {
	color: var(--secondary-color);
	background: var(--primary-color);
	font-family: var(--font-family);
	font-weight: 400;
	font-style: normal;
}

.light-mode {
	--primary-color: white;
	--secondary-color: #1e1e1e;
	--accent-color: lightgrey;
}

#darkmode-button .light-icon {
	display: none;
}

.light-mode #darkmode-button .light-icon {
	display: block;
}

.light-mode #darkmode-button .dark-icon {
	display: none;
}

#darkmode-button {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: var(--secondary-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

#darkmode-button svg {
	fill: var(--primary-color);
}


header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: clamp(3vw, 5vw, 7vw);
	margin-right: clamp(3vw, 5vw, 7vw);
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
	padding-top: 8em;
	padding-bottom: 8em;
}

.page-content {
	display: inline-grid;
	gap: 1em;
}

.profiel {
	max-height: 500px;
	width: 80vw;
	max-width: 800px;
	border-radius: 50px;
	background: var(--accent-color);
	
	display: grid;
	grid-template-areas: 
		"avatar	name"
		"avatar	nickname"
		"avatar	birthdate"
		"bio	bio";
	
	padding: 1em;

	grid-template-columns: 1fr 3fr;
	grid-template-rows: max-content max-content max-content 1fr;
}

.avatar {
	grid-area:avatar;
	width: 8em;
	height: 8em;
	border-radius: 50%;
	border: 2px solid var(--secondary-color);
}

.name {
	padding-left: 20px;
	grid-area:name;
	margin:0px;
}

.nickname {
	padding-left: 20px;
	grid-area:nickname;
	margin:0px;
}

.bio {
	padding-top: 10px;
	grid-area:bio;
	margin:5px;
}

.birthdate {
	padding-left: 20px;
	grid-area:birthdate;
	margin:0px;
}

.leerdoelen  {
	list-style: none;
	margin: 0px;
	padding: 1em;

	border-radius: 50px;
	background: var(--accent-color);
	padding: 1em;
	width: 80vw;
	max-width: 800px;
	max-height: 500px;

	justify-content: center;
	align-items: center;
}

#ID-search {
	padding: 1vh;
	border-radius: 50px;
	color: var(--secondary-color);
	background-color: var(--accent-color);
	font-family: var(--font-family);
}

#search-button {
	max-width: 200px;
	border-radius: 50px;
	color:var(--primary-color);
	background-color: var(--secondary-color);
	font-family: var(--font-family);
}

.api_klas {
	padding: 0px;
	max-height: 500px;
	width: 80vw;
	max-width: 800px;
	border-radius: 50px;
	background: var(--accent-color);
	
	display: grid;
	grid-template-areas: 
		"avatar	name"
		"avatar	nickname"
		"avatar	birthdate"
		"bio	bio";
	
	padding: 1em;

	grid-template-columns: 1fr 3fr;
	grid-template-rows: max-content max-content max-content 1fr;

	animation-name: appear;
	animation-timeline: view();
	animation-range: entry;
	animation-fill-mode: both;

}

/* footer {
	position:fixed;
	bottom:0;
	width:100%;
	height:60px;
} */

.footer-content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

@keyframes appear {
	0%{ 
		opacity: 0;
		scale: 0.5;
	}
	100%{
		opacity: 1;
		scale: 1;
	}
}